name: toybox CI

on:
  schedule:
    - cron:  '0 2 * * *'
  push:
  workflow_dispatch:
jobs:
  MacOS-13:
    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v6
    - name: Setup
      run: brew install gnu-sed cmake
    - name: Configure
      run: cmake .
    - name: Build
      run: make
    - name: Test
      run: true

  Ubuntu-22_04:
    runs-on: ubuntu-24.04

    steps:
    - uses: actions/checkout@v6
    - name: Setup
      run: sudo apt-get install build-essential cmake ninja-build -y
    - name: Configure build and test
      run: cmake , -GNinja && ninja
